/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  background-image: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.heading {
  font-family: "Roboto";
  font-size: 30px;
  color: #f8fafc;
}

.img {
  height: 150px;
  width: 150px;
}
